@import "variables";
@import "mixins";

.spreadsheet__toolbar {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;
  flex: 0 1 $toolbar-height;
  
  .button {
    @include button(green); 
  }
  
  .separator {
    left: 50%;
    align-self: center;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid rgba(0, 0, 0, .4);
  }
}